{% if site.data.certifications %}
<section class="section education-section">

  <h2 class="section-title"><i class="fa fa-certificate"></i>Certifications</h2>

  {% for certification in site.data.certifications %}
    <div>
    	<div class="upper-row">
        <div class= certification-head>
          <div class="certification-head left">
      		<h3 class="certification-title">{{ certification.name }}</h3>
          </div>
          <div class="certification-head right">
            <img src="{{site.baseurl}}/assets/images/aws/{{certification.logo}}" class="cert-aws-img">
          </div>
  		</div>
      <div class="certification-meta">Justificatif: <a href="{{ certification.link }}">{{ certification.serial }}</a></div>
      <div class="certifcation-register">Délivré par: {{ certification.register }}</div>
      <div class="certification-issued">Date d'obtention: {{ certification.issue-date}}</div>
      <div class="certification-expiration">Valable jusqu'au: {{ certification.expiration-date}}</div>
    </div><!--//item-->
  {% endfor %}
</section>
<!--//certification-container-->
{% endif %}