{% if site.data.educations %}
<section class="section education-section">

  <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

  {% for education in site.data.educations %}
    <div>
    	<div class="upper-row">
      		<h3 class="education-title">{{ education.degree }}</h3>
      		<div class="time">{{ education.time }}</div>
  		</div>
      <div class="education-meta">{{ education.university }}</div>
      <div class="education-register">{{ education.register }}</div>  
    </div><!--//item-->
  {% endfor %}
</section>
<!--//education-container-->
{% endif %}
