{% if site.data.languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">Languages</h2>

    <ul class="list-unstyled interests-list">
    
    {% for language in site.data.languages %}
    
    <div class="languages-container lang-list">
    
    	<div class="languages-container lang-list left">{{ language.idiom }}
    	</div>
	
	<div class="languages-container lang-list right">
	
		<div class="progress" style="height: 12px">
  	
  			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ language.level }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ language.level }}%"><span class="sr-only">{{ language.level }}%</span></div>
	
		</div>

	</div>

    </div><!--//item-->
    {% endfor %}

</div><!--//interests-->
{% endif %}
