{% if site.data.skills %}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  <div class="skillset">

    {% for skill in site.data.skills %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>


<div class="progress" style="height: 12px; margin-top: 5px;">
    
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.level }}%"><span class="sr-only">{{ skill.level }}%</span></div>
  
    </div><!--//progress-bar-->
    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
